html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }


table {
    overflow-x: auto;
}

#front{
    position: absolute;
    z-index: 10;
};

#back{
    position: relative;
    z-index:0;
};

#front2{
    position: absolute;
    z-index:999;
};